{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "**/node_modules/**",
    "**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "statements": 91,
  "branches": 100,
  "functions": 91,
  "lines": 91
}
